{{#each posts as |post|}}
<div class="postBlock">
    <div class="postHeader">
        <h3> {{post.name}} </h3>
        <p> Posted by: {{post.user.name}} </p>
    </div>
    <div class="postBody">
        <p> {{post.description}} </p>
    </div>
</div>